@import url('/fonts/stylesheet.css');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    @apply bg-primary m-0 font-sfui placeholder-secondary placeholder-[12px]
  }
  p{
    @apply text-[12px] font-normal
  }

  h4{
    @apply text-[12px] font-medium
  }

  h2{
    @apply text-[16px] font-medium
  }

  h1{
    @apply text-[20px] font-bold
  }

  .no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}
